@font-face {
  font-family: 'elizabeth';
  src: url("/fonts/ElizabethND-Roman.woff2") format("woff2"),
    url("/fonts/ElizabethND-Roman.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'lexend';
  src: url("/fonts/Lexend-ExtraLight.woff2") format("woff2"),
    url("/fonts/Lexend-ExtraLight.woff") format("woff");
  font-style: normal;
  font-weight: 100 200;
}
@font-face {
  font-family: 'lexend';
  src: url("/fonts/Lexend-Light.woff2") format("woff2"),
    url("/fonts/Lexend-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300 300;
}
@font-face {
  font-family: 'lexend';
  src: url("/fonts/Lexend-Regular.woff2") format("woff2"),
    url("/fonts/Lexend-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400 500;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 18px;
  @apply bg-bg text-black dark:bg-black dark:text-white;
  -webkit-font-smoothing: antialiased;
}

.ml-logo {
  margin-left: 1.14em;
}

.bg-theme {
  @nest .theme-blau & {
    @apply bg-blue-900;
  }
  @nest .theme-gelb & {
    @apply bg-yellow-200;
  }
  @nest .theme-rosa & {
    @apply bg-pink-300;
  }
  @nest .theme-gruen & {
    @apply bg-green-500;
  }
}

.text-theme {
  @apply text-white;

  @nest .theme-gelb & {
    @apply text-black;
  }
}

.btn {
  @apply px-6 py-1 font-bold rounded-full border-2 transition-all;
  @apply dark:hover:border-white !important;
  @apply dark:hover:bg-transparent dark:hover:text-white !important;

  @nest .theme-blau & {
    @apply bg-blue-900 text-white border-blue-900;
    @apply hover:text-blue-900 hover:bg-white;
  }

  @nest .theme-gelb & {
    @apply bg-yellow-200 text-black border-yellow-200;
    @apply hover:bg-white hover:border-black;
  }

  @nest .theme-rosa & {
    @apply bg-pink-300 text-black border-pink-300;
    @apply hover:bg-white;
  }
  @nest .dark.theme-rosa & {
    @apply hover:border-pink-300 !important;
  }

  @nest .theme-gruen & {
    @apply bg-green-500 text-black border-green-500;
    @apply hover:bg-white hover:text-green-500;
  }
}

.switch {
  @apply relative flex w-full;
  @apply border border-white rounded-full bg-black bg-opacity-50;
  @apply leading-snug;
}

.pill {
  @apply bg-white absolute w-1/2 h-full top-0 rounded-full;
  @apply z-0;
}

.underline,
.hover\:underline {
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

/* animations */

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

[class*="dark:"] { @apply transition-all; }
