@font-face {
  font-family: 'elizabeth';
  src: url("/fonts/ElizabethND-Roman.woff2") format("woff2"),
    url("/fonts/ElizabethND-Roman.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'lexend';
  src: url("/fonts/Lexend-ExtraLight.woff2") format("woff2"),
    url("/fonts/Lexend-ExtraLight.woff") format("woff");
  font-style: normal;
  font-weight: 100 200;
}
@font-face {
  font-family: 'lexend';
  src: url("/fonts/Lexend-Light.woff2") format("woff2"),
    url("/fonts/Lexend-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300 300;
}
@font-face {
  font-family: 'lexend';
  src: url("/fonts/Lexend-Regular.woff2") format("woff2"),
    url("/fonts/Lexend-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400 500;
}
@font-face {
  font-family: 'lexend';
  src: url("/fonts/Lexend-Medium.woff2") format("woff2"),
    url("/fonts/Lexend-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500 600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html { font-size: 16px; }

@screen 2xl {
  html { font-size: 18px; }
}

body {
  @apply bg-bg text-black dark:bg-gray-800 dark:text-white;
  -webkit-font-smoothing: antialiased;
}

.ml-logo {
  margin-left: 1.14em;
}

.styled-text {
  @apply font-extralight;

  & > span {
    @apply font-serif text-bump;
  }
}

.bg-theme {
  @nest .theme-blau & {
    @apply bg-blue-900;
  }
  @nest .theme-gelb & {
    @apply bg-yellow-200;
  }
  @nest .theme-rosa & {
    @apply bg-pink-300;
  }
  @nest .theme-gruen & {
    @apply bg-green-500;
  }
}

.bg-theme-contrast {
  @apply bg-white;

  @nest .theme-gelb & {
    @apply bg-black;
  }
}

.text-theme {
  @apply text-black;

  @nest .theme-blau & {
    @apply text-white;
  }
}

.text-highlight {
  @apply text-black;

  @nest .theme-blau & {
    @apply text-white;
  }

  @nest .dark & {
    @apply text-white;
  }
}

.btn {
  @apply px-8 py-1 rounded-full border-2 transition-all;
  @apply dark:hover:border-white !important;
  @apply dark:hover:bg-gray-800 dark:hover:text-white !important;
  @apply focus:ring-4 focus:outline-none;

  &.round {
    @apply w-10 h-10 p-0 flex items-center justify-center;
  }

  @nest .theme-blau & {
    @apply bg-blue-900 text-white border-blue-900;
    @apply hover:text-blue-900 hover:bg-white;
  }

  @nest .theme-gelb & {
    @apply bg-yellow-200 text-black border-yellow-200;
    @apply hover:bg-white hover:border-black;
  }

  @nest .theme-rosa & {
    @apply bg-pink-300 text-black border-pink-300;
    @apply hover:bg-white;
  }
  @nest .dark.theme-rosa & {
    @apply hover:border-pink-300 !important;
  }

  @nest .theme-gruen & {
    @apply bg-green-500 text-black border-green-500;
    @apply hover:bg-white hover:text-green-500;
  }
}

.input {
  @apply w-full px-4 py-2 outline-none border-none rounded-sm;
  @apply bg-gray-200 text-black;
  @apply focus:ring-4;

  &[type="search"] {
    @apply rounded-full;
    appearance: none;
  }
}

.chevron + .chevron:before {
  content: ' > ';
  @apply inline-block mx-1;
}

.switch {
  @apply relative flex w-full;
  @apply border border-white rounded-full bg-black bg-opacity-50;
  @apply leading-snug;
}

.pill {
  @apply bg-white absolute w-1/2 h-full top-0 rounded-full;
  @apply z-0;
}

.underline,
.hover\:underline {
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.highlighting strong {
  @apply bg-yellow-400 bg-opacity-50;
}

/* animations */

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

[class*="dark:"] { @apply transition-all; }

:root {
  --plyr-color-main: rgba(0, 0, 0, 0);
  --plyr-range-track-height: 1.33px;
  --plyr-font-family: inherit;
  --plyr-tooltip-background: rgba(0, 0, 0, 0);
  --plyr-tooltip-color: white;
  --plyr-tooltip-padding: 0;
  --plyr-tooltip-arrow-size: 0;
  --plyr-tooltip-shadow: none;
  --plyr-font-size-base: 0.75rem;
  --plyr-font-size-small: 0.75rem;
}

.plyr--video { @apply h-full; }
.plyr__volume {
  min-width: 0 !important;
  width: auto !important;
}
.plyr__time { margin-top: 2px; }

button[data-plyr="mute"],
button[data-plyr="fullscreen"] {
  margin-top: -1px;

  & svg { @apply hidden; }
  & span {
    @apply uppercase text-xs;
    position: static !important;
  }
}
