@font-face {
  font-family: 'elizabeth';
  src: url("/fonts/ElizabethND-Roman.woff2") format("woff2"),
    url("/fonts/ElizabethND-Roman.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'lexend';
  src: url("/fonts/Lexend-ExtraLight.woff2") format("woff2"),
    url("/fonts/Lexend-ExtraLight.woff") format("woff");
  font-style: normal;
  font-weight: 100 200;
}
@font-face {
  font-family: 'lexend';
  src: url("/fonts/Lexend-Light.woff2") format("woff2"),
    url("/fonts/Lexend-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300 300;
}
@font-face {
  font-family: 'lexend';
  src: url("/fonts/Lexend-Regular.woff2") format("woff2"),
    url("/fonts/Lexend-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400 500;
}
@font-face {
  font-family: 'lexend';
  src: url("/fonts/Lexend-Medium.woff2") format("woff2"),
    url("/fonts/Lexend-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500 600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

@screen 2xl {
  html { font-size: 18px; }
}

@screen touch {
  .touch\:touch-action-none { touch-action: none; }
}

body {
  @apply bg-white text-black dark:bg-gray-800 dark:text-white;
  @apply overflow-x-hidden;
  -webkit-font-smoothing: antialiased;
}

/*#app {
  @apply bg-white dark:bg-gray-800;
}*/

.ml-logo { margin-left: 1.14em; }

@screen notouch {
  header:hover ~ div > button {
    @apply translate-y-0;
  }
  .theme-blau header:hover ~ div .menu-button * {
    @apply text-white;
  }
  .theme-blau .menu-button:hover * { @apply text-white; }
}

.leftopen-nudge { @apply transition-transform; }
.leftopen .leftopen-nudge {
  /* @apply translate-x-full; */
  transform: translateX(calc(var(--nudge, 1) * 100vw));
}

/* cms content */
.html {
  & p + p { @apply mt-4; }

  & a { @apply underline hover:opacity-50; }

  & a > strong { @apply pointer-events-none; }

  & h1 { font-size: 200%; @apply font-medium mb-4; }
  & h2 { font-size: 150%; @apply font-medium mb-4; }
  & h3 { font-size: 130%; @apply font-medium mb-4; }
  & h4 { font-size: 120%; @apply font-medium mb-4; }
  & h5 { font-size: 110%; @apply font-medium mb-4; }
  & h6 { @apply font-medium mb-4; }
}

.styled-text {
  @apply font-extralight;

  & > span {
    @apply font-serif text-bump;
  }
}

.bg-bg {
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.dark .bg-bg {
  background-color: rgb(38 38 38 / var(--tw-bg-opacity, 1));
}
.expander .bg-bg { @apply bg-transparent; }

.bg-theme {
  @nest .theme-blau & {
    @apply bg-blue-900;
  }
  @nest .theme-gelb & {
    @apply bg-yellow-200;
  }
  @nest .theme-rosa & {
    @apply bg-pink-300;
  }
  @nest .theme-gruen & {
    @apply bg-green-500;
  }
}

.bg-theme-contrast {
  @apply bg-white;

  @nest .theme-gelb & {
    @apply bg-black;
  }
}

.text-theme {
  @apply text-black;

  @nest .theme-blau & {
    @apply text-white;
  }
}

.text-highlight {
  @apply text-black;

  @nest .theme-blau & {
    @apply text-white;
  }

  @nest .dark & {
    @apply text-white;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.w-meta {
  width: 30rem;
  max-width: calc(100vw - 1.4rem);
}
.w-kontext {
  width: 62rem;
  max-width: calc(100vw - 1.4rem);
}

.w-artist-panel {
  width: 76rem;
  max-width: calc(100vw - 6rem);
}

.right-seite,
.right-kontext {
  right: calc(100% - 3.2rem);
}

@screen md {
  .right-seite {
    right: 25.5rem;
  }
  .right-kontext {
    right: 57.5rem;
  }
}

.theme-bold {
  @nest .theme-blau & strong { @apply text-blue-900; }
  @nest .theme-gelb & strong { @apply text-yellow-500; }
  @nest .theme-rosa & strong { @apply text-pink-400; }
  @nest .theme-gruen & strong { @apply text-green-500; }
}

.btn {
  @apply px-8 py-1 rounded-full border-2 transition-all;
  @apply dark:hover:border-white !important;
  @apply dark:hover:bg-gray-800 dark:hover:text-white !important;
  @apply focus:ring-4 focus:outline-none;

  &.round {
    @apply w-8 md:w-10 h-8 md:h-10 p-1 md:p-1.5 flex items-center justify-center;
  }

  @nest .theme-blau & {
    @apply bg-blue-900 text-white border-blue-900;
    @apply hover:text-blue-900 hover:bg-white;
  }

  @nest .theme-gelb & {
    @apply bg-yellow-200 text-black border-yellow-200;
    @apply hover:bg-white hover:border-black;
  }

  @nest .theme-rosa & {
    @apply bg-pink-300 text-black border-pink-300;
    @apply hover:bg-white;
  }
  @nest .dark.theme-rosa & {
    @apply hover:border-pink-300 !important;
  }

  @nest .theme-gruen & {
    @apply bg-green-500 text-black border-green-500;
    @apply hover:bg-white hover:text-green-500;
  }
}

.btn-outline {
  @apply px-8 py-1 rounded-full border-2 transition-all;
  @apply dark:hover:border-white;
  @apply dark:hover:bg-gray-800 dark:hover:text-white;
  @apply focus:ring-4 focus:outline-none;
  @apply bg-transparent border-current text-inherit;
}

.btn-sm {
  @apply px-4 py-0.5 rounded-full transition-all;
  @apply bg-black text-white;

  @apply hover:bg-blue-900;
}

.input {
  @apply w-full px-4 py-2 outline-none border-none rounded-lg;
  @apply bg-white text-black;
  @apply focus:ring-4;
  @apply block;

  &[type="search"] {
    @apply rounded-full;
    appearance: none;
  }
}
textarea { @apply leading-snug; }

.checkbox {
  @apply appearance-none -mb-1 mr-1;
  @apply w-4.5 h-4.5 bg-white rounded-full;
  @apply checked:bg-green-600;
  @apply focus:ring;
}

.chevron + .chevron:before {
  content: ' > ';
  @apply inline-block mx-1;
}

.switch {
  @apply relative flex;
  @apply border border-white rounded-full bg-black bg-opacity-50;
  @apply leading-snug;
}

.pill {
  @apply bg-white absolute w-1/2 h-full top-0 rounded-full;
  @apply z-0;
}

.page-dot {
  @apply border rounded-full grid place-content-center mx-1;
  @apply hover:bg-gray-200 dark:hover:bg-gray-600 transition-all;
  width: 2em;
  height: 2em;

  &.active { @apply bg-blue-900 text-white border-blue-900; }

  &:disabled { @apply opacity-25 pointer-events-none; }
}

.safari-summary::-webkit-details-marker {
  display: none;
}
.safari-summary > div {
  list-style-position: inside;
}

.marker-dot:hover {
  opacity: 1 !important;
}
.marker-dot.focussed > div {
  @apply ring-2 ring-green-500;
  transform: none;
  & > span {
    display: block;
  }
}
.marker-dot > div {
  @apply rounded-full grid place-content-center mx-1;
  @apply text-white bg-black transition-all;
  transform: scale(0.5);

  & > span {
    display: none;
  }

  &.artist {
    @apply bg-blue-900;
    transform: none;

    & > span {
      display: block;
    }
  }

  &:hover {
    transform: none;
    & > span {
      display: block;
    }
  }

  @nest .zoom-far & {
    opacity: 0;

    &.artist { opacity: 1; }
  }

  @nest .zoom-near & {
    transform: none;

    & > span {
      display: block;
    }
  }
}

.list-dot {
  @apply rounded-full grid place-content-center mx-1;
  @apply text-white bg-black;
  width: 2em;
  height: 2em;

  &.artist {
    @apply bg-blue-900;
  }
}

.leaflet-marker-icon {
  @apply grid !important;
}

.flickity-viewport,
.flickity-slider { @apply w-full h-full; }

.underline,
.hover\:underline {
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.highlighting strong {
  @apply bg-yellow-400 bg-opacity-50;
}

.commas:after { content: ', '; }
.commas:last-child:after { content: ''; }


/* animations */

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-right-enter-active,
.fade-right-leave-active {
  @apply transition-all;
}

.fade-right-enter-from,
.fade-right-leave-to {
  @apply opacity-0 translate-x-full;
}

[class*="dark:"] { @apply transition-all; }

/* plugins */

:root {
  --plyr-color-main:  #0000CC;
  --plyr-badge-background: #2C2C2C;
  /* --plyr-range-track-height: 1.33px;
  --plyr-font-family: inherit;
  --plyr-tooltip-background: rgba(0, 0, 0, 0);
  --plyr-tooltip-color: white;
  --plyr-tooltip-padding: 0;
  --plyr-tooltip-arrow-size: 0;
  --plyr-tooltip-shadow: none;
  --plyr-font-size-base: 0.75rem;
  --plyr-font-size-small: 0.75rem; */
}
